<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome!</h1>

  <ul>
    <li><a href="/input-symptoms/<%= userId %>">Input Symptoms</a></li>
    <li><a href="/search-drug/<%= userId %>">Search Drug</a></li>
    <li><a href="/search-disease/<%= userId %>">Search Disease</a></li>
  </ul>
  <li><a href="/view-log/<%= userId %>">View Review Activity Log</a></li>
  <p><a href="/delete/<%= userId %>">Delete My Account</a></p>
</body>
</html>
